<h1>Editing prerequisite</h1>

<% form_for(@prerequisite) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :subject_id %><br />
    <%= f.text_field :subject_id %>
  </p>
  <p>
    <%= f.label :prereq_id %><br />
    <%= f.text_field :prereq_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @prerequisite %> |
<%= link_to 'Back', prerequisites_path %>