<%- content_for :title, h(@subject.name.capitalize) -%>

<div id="main">
  <h2><%=h @subject.name.capitalize %></h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sapien urna, molestie porta
    molestie in, semper congue est. Phasellus ac tortor justo, at ullamcorper erat.
  </p>

  <%- @resources.each do |resource| -%>
    <div class="resource">
      <div class="votes">
        <div class="total_votes"><%= resource.votes.count %></div>
        <div class="up_votes"><%= resource.upvote_count %></div>
        <div class="down_votes"><%= resource.downvote_count %></div>
      </div>

      <div class="info">
        <h3><%= link_to resource.name.titleize, resource.uri %></h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sapien urna, molestie porta
          molestie in, semper congue est. Phasellus ac tortor justo, at ullamcorper erat.
        </p>
        <div clas="actions">
          <%= link_to 'destroy', subject_resource_path(@subject, resource), :method => :delete %>
        </div>
      </div>

      <div class="clear"></div>
    </div>
  <%- end -%>
</div>

<div id="aux">
  <h4>Prerequisites:</h4>

  <ul>
    <%- @prerequisites.each do |prerequisite| -%>
      <li><%= link_to prerequisite.prereq.name, subject_path(prerequisite.prereq) %></li>
    <%- end -%>
  </ul>

  <h4>Page Actions:</h4>
  <ul>
    <li><%= link_to 'Add prerequisite', new_subject_prerequisite_path(@subject) %></li>
    <li><%= link_to 'Edit subject', edit_subject_path(@subject) %></li>
  </ul>
</div>
