<h1><%=h @subject.name.capitalize %></h1>

<h2>Current prerequisites:</h2>
<%- @prerequisites.each do |prerequisite| -%>
  <div>
    <%= link_to prerequisite.prereq.name, subject_path(prerequisite.prereq) %>
    <%= link_to 'destroy', subject_prerequisite_path(@subject, prerequisite), :method => :delete %>
  </div>
<%- end -%>

<h2>Resources</h2>
<%= link_to 'New Resource', new_subject_resource_path(@subject) %>

<%- @resources.each do |resource| -%>
  <div>
      <%= link_to resource.name, resource.uri %> <%= link_to 'destroy', subject_resource_path(@subject, resource), :method => :delete %>
  </div>
<%- end -%>


<h2>Add a prerequisite:</h2>
<%- @eligible_subjects.each do |subject| -%>
  <div>
    <%= subject.name %>
    <%= link_to 'Add', subject_prerequisites_path(@subject, :prereq_id => subject.id),
      :method => :post %>
  </div>
<%- end -%>

<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
