<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>The bounciest of castles - <%= yield(:title) %></title>

  <%= stylesheet_link_tag 'main' %>
</head>

<body>

  <div id="container">
    <div id="header"><h1>This is bouncy!</h1></div>

    <div id="content">
      <%- flash.each do |key, msg| -%>
        <div class="<%= key %>"><%= msg %></div>
      <%- end -%>

      <%= yield %>
    </div>

    <div id="secondary">
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Subjects', subjects_path %></li>
      </ul>

      <%= yield(:secondary) %>
    </div>

    <div class="clear"></div>
  </div>

  <div id="footer"><p>shoe</p></div>

</body>
</html>
